* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

/*TOPBAR*/

#topbar .container {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    text-decoration: none;
}

#topbar .contact {
   padding: 10px;
   
}

a{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*HEADER*/

#header {
    background: #111;
}

#header .container {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    max-width: 1100px;
    margin: auto;
}

nav ul {
    display: flex;
    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 6px 10px;
    margin-left: 10px;
}

nav ul li a:hover {
    background-color: rgb(179, 255, 1);
    color: #111;
    transition: 0.5s;
    border-radius: 10px;
}

@media (max-width: 830px) {
    


}

@media (max-width: 830px) {
    
    html{
        font-size: 60%;
    }

}

@media (max-width: 768px) {

    html {
        font-size: 55%;
    }
}

@media (max-width: 720px) {

    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: white;
        width: 100%;
        height: 4.5px;
        margin: 6px auto;
        border-radius: 50px;

        transition-duration: 0.3s;
    }

    .menu-burguer {
        width: 40px;
        height: 30px;
    }

    .menu-section.on {
        position: absolute;

        top: 0;
        right: 0;

        width: 100vw;
        height: 100vh;

        background-color: rgb(34, 34, 34);
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-burguer {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .menu-section.on .menu-burguer .one {
        transform: rotate(45deg) translate(7px, 8px);
    }

    .menu-section.on .menu-burguer .two {
        opacity: 0;
    }

    .menu-section.on .menu-burguer .three {
        transform: rotate(-45deg) translate(7px, -9px);
    }

    .menu-section.on nav ul {
        display: block;
        text-align: center;
        margin-left: 0;
    }

    .menu-section.on nav ul li a {
        transition-duration: 0.3s;
        font-size: 3rem;
        line-height: 15rem;
    }
}
/*MAIN*/


/*MOBILE*/