* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

/*TOPBAR*/

#topbar .container {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    text-decoration: none;
}

#topbar .contact {
   padding: 10px;
   
}

a{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*HEADER*/

#header {
    background: #111;
}

#header .container {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    max-width: 1100px;
    margin: auto;
}

nav ul {
    display: flex;
    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 6px 10px;
    margin-left: 20px;
}

nav ul li a:hover {
    background-color: rgb(179, 255, 1);
    color: #111;
    transition: 0.5s;
    border-radius: 10px;
}

@media (max-width: 830px) {
    


}

@media (max-width: 830px) {
    
    html{
        font-size: 55%;
    }

}

@media (max-width: 768px) {
    
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: white;
        height: 4px;
        width: 100%;
        margin: 7px auto;
        border-radius: 4px;
    }

    .menu-burguer {
        width: 40px;
        height: 30px;
    }

    .menu-section.on {
        position: absolute;

        top: 0;
        left: 0;

        width: 100vw;
        height: 100%;

        background: linear-gradient(150deg, #201e1e, #484646 );

        
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-burguer{
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .menu-section.on .menu-burguer .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-burguer .two{
        opacity: 0;
    } 

    .menu-section.on .menu-burguer .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        display: block;
        text-align: center;
    }

    .menu-section.on nav ul li a {
        transition-duration: 0.3s;
        font-size: 4.5rem;
        line-height: 15rem;
        margin-left: 0;
    }
}

/*MAIN*/


/*MOBILE*/

